<a href="https://colab.research.google.com/github/AhmedElrifo/task2-widebot/blob/master/Task2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Importing libraries

In [1]:
import pandas as pd
import numpy as np
import sklearn

In [2]:
df = pd.read_csv('training.csv',sep=';')

Expolration

In [3]:
print(df.shape)
print(df.describe)
print(df.isna().sum())
print(df.dtypes)
df.head()

(3700, 19)
<bound method NDFrame.describe of      variable1 variable2  variable3  ... variable18 variable19 classLabel
0            a     17,92    5,4e-05  ...          t          0        no.
1            b     16,92   3,35e-05  ...        NaN          0        no.
2            b     31,25  0,0001125  ...          t          0        no.
3            a     48,17  0,0001335  ...        NaN          0        no.
4            b     32,33    0,00035  ...          f          0        no.
...        ...       ...        ...  ...        ...        ...        ...
3695         a     18,75    0,00075  ...          t          1       yes.
3696         a      23,5      9e-04  ...          t          1       yes.
3697         b     34,17   0,000917  ...        NaN          1       yes.
3698         b     27,83   0,000154  ...        NaN          1       yes.
3699         a     36,75  0,0005125  ...          f          1       yes.

[3700 rows x 19 columns]>
variable1       39
variable2       39
variable3        0
variable4       64
variable5       64
variable6       66
variable7       66
variable8        0
variable9        0
variable10       0
variable11       0
variable12       0
variable13       0
variable14     100
variable15       0
variable17     100
variable18    2145
variable19       0
classLabel       0
dtype: int64
variable1      object
variable2      object
variable3      object
variable4      object
variable5      object
variable6      object
variable7      object
variable8      object
variable9      object
variable10     object
variable11      int64
variable12     object
variable13     object
variable14    float64
variable15      int64
variable17    float64
variable18     object
variable19      int64
classLabel     object
dtype: object

  variable1 variable2  variable3  ... variable18 variable19 classLabel
0         a     17,92    5,4e-05  ...          t          0        no.
1         b     16,92   3,35e-05  ...        NaN          0        no.
2         b     31,25  0,0001125  ...          t          0        no.
3         a     48,17  0,0001335  ...        NaN          0        no.
4         b     32,33    0,00035  ...          f          0        no.

[5 rows x 19 columns]

starting cleaning

In [4]:
df.head()

  variable1 variable2  variable3  ... variable18 variable19 classLabel
0         a     17,92    5,4e-05  ...          t          0        no.
1         b     16,92   3,35e-05  ...        NaN          0        no.
2         b     31,25  0,0001125  ...          t          0        no.
3         a     48,17  0,0001335  ...        NaN          0        no.
4         b     32,33    0,00035  ...          f          0        no.

[5 rows x 19 columns]

In [5]:
df.nunique()

variable1       2
variable2     288
variable3     179
variable4       3
variable5       3
variable6      14
variable7       9
variable8     118
variable9       2
variable10      2
variable11     23
variable12      2
variable13      3
variable14    136
variable15    182
variable17    136
variable18      2
variable19      2
classLabel      2
dtype: int64

In [6]:
df.isna().sum()

variable1       39
variable2       39
variable3        0
variable4       64
variable5       64
variable6       66
variable7       66
variable8        0
variable9        0
variable10       0
variable11       0
variable12       0
variable13       0
variable14     100
variable15       0
variable17     100
variable18    2145
variable19       0
classLabel       0
dtype: int64

to be delete the coloumn variable18 
mean 14,17 , 2 , 3 , 8
common ,1 4 5 6 7 الباقي يعني

In [9]:
#df without variable18
df=df.drop(columns='variable18')
df[['variable14','variable17','variable2','variable3','variable8','variable15']]=df[['variable14','variable17','variable2','variable3','variable8','variable15']].fillna(df[['variable14','variable17','variable2','variable3','variable8','variable15']].mean())

#filling the categorical values with the most frequent value 
df = df.fillna(df.mode().iloc[0])

df.isna().sum()

variable 1 ,9,10,12,18,19 ,classLabel are categorical values

In [12]:
#now converting the categorical values to numbers 
df_dummies=pd.get_dummies(df,columns=['variable1','variable9','variable10','variable12','variable19'])

df_dummies['variable2']=pd.to_numeric(df['variable2'].str.replace(',', '.'), errors='coerce')
df_dummies['variable3']=pd.to_numeric(df['variable3'].str.replace(',', '.'), errors='coerce')
df_dummies['variable8']=pd.to_numeric(df['variable8'].str.replace(',', '.'), errors='coerce')

print(df_dummies['variable4'].unique())
print(df_dummies['variable5'].unique())
print(df_dummies['variable13'].unique())

df_dummies=df_dummies.drop(columns=['variable6','variable7','variable11'])
#X['Type of job'] = X['Type of job'].map( {'Super Skilled':3, 'Skilled':2, 'Unskilled':1})
df_dummies['variable4']=df_dummies['variable4'].map({'u':1,'y':2,'l':3})
df_dummies['variable5']=df_dummies['variable5'].map({'g':1,'p':2,'gg':3})
df_dummies['variable13']=df_dummies['variable13'].map({'g':1,'s':2,'p':3})

### Checking if the data is fully clean

In [15]:
print('na values',df_dummies.isna().sum())
print(df_dummies.dtypes)
print(df_dummies.pivot_table)

na values variable2       0
variable3       0
variable4       0
variable5       0
variable8       0
variable13      0
variable14      0
variable15      0
variable17      0
classLabel      0
variable1_a     0
variable1_b     0
variable9_f     0
variable9_t     0
variable10_f    0
variable10_t    0
variable12_f    0
variable12_t    0
variable19_0    0
variable19_1    0
dtype: int64
variable2       float64
variable3       float64
variable4         int64
variable5         int64
variable8       float64
variable13        int64
variable14      float64
variable15        int64
variable17      float64
classLabel       object
variable1_a       uint8
variable1_b       uint8
variable9_f       uint8
variable9_t       uint8
variable10_f      uint8
variable10_t      uint8
variable12_f      uint8
variable12_t      uint8
variable19_0      uint8
variable19_1      uint8
dtype: object
<bound method DataFrame.pivot_table of       variable2  variable3  variable4  ...  variable12_t  variable19_0  variable19_1
0         17.92   0.000054          1  ...             1             1             0
1         16.92   0.000034          2  ...             0             1             0
2         31.25   0.000112          1  ...             0             1             0
3         48.17   0.000133          1  ...             0             1             0
4         32.33   0.000350          1  ...             1             1             0
...         ...        ...        ...  ...           ...           ...           ...
3695      18.75   0.000750          1  ...             0             0             1
3696      23.50   0.000900          1  ...             1             0             1
3697      34.17   0.000917          1  ...             1             0             1
3698      27.83   0.000154          1  ...             1             0             1
3699      36.75   0.000513          1  ...             1             0             1

[3700 rows x 20 columns]>

In [16]:
df_dummies.head()

   variable2  variable3  variable4  ...  variable12_t  variable19_0  variable19_1
0      17.92   0.000054          1  ...             1             1             0
1      16.92   0.000034          2  ...             0             1             0
2      31.25   0.000112          1  ...             0             1             0
3      48.17   0.000133          1  ...             0             1             0
4      32.33   0.000350          1  ...             1             1             0

[5 rows x 20 columns]

In [17]:
df_dummies['variable3']=pd.to_numeric(df_dummies['variable3'])

In [18]:
print(df_dummies.columns)
print(df_dummies.dtypes)

Index(['variable2', 'variable3', 'variable4', 'variable5', 'variable8',
       'variable13', 'variable14', 'variable15', 'variable17', 'classLabel',
       'variable1_a', 'variable1_b', 'variable9_f', 'variable9_t',
       'variable10_f', 'variable10_t', 'variable12_f', 'variable12_t',
       'variable19_0', 'variable19_1'],
      dtype='object')
variable2       float64
variable3       float64
variable4         int64
variable5         int64
variable8       float64
variable13        int64
variable14      float64
variable15        int64
variable17      float64
classLabel       object
variable1_a       uint8
variable1_b       uint8
variable9_f       uint8
variable9_t       uint8
variable10_f      uint8
variable10_t      uint8
variable12_f      uint8
variable12_t      uint8
variable19_0      uint8
variable19_1      uint8
dtype: object

In [19]:
df_dummies['classLabel']=df_dummies['classLabel'].map({'no.':0,'yes.':1})

In [20]:
df_dummies.nunique()

variable2       288
variable3       179
variable4         3
variable5         3
variable8       118
variable13        3
variable14      137
variable15      182
variable17      137
classLabel        2
variable1_a       2
variable1_b       2
variable9_f       2
variable9_t       2
variable10_f      2
variable10_t      2
variable12_f      2
variable12_t      2
variable19_0      2
variable19_1      2
dtype: int64

In [21]:

df_dummies.sort_index(inplace=True)
df_dummies.head()

   variable2  variable3  variable4  ...  variable12_t  variable19_0  variable19_1
0      17.92   0.000054          1  ...             1             1             0
1      16.92   0.000034          2  ...             0             1             0
2      31.25   0.000112          1  ...             0             1             0
3      48.17   0.000133          1  ...             0             1             0
4      32.33   0.000350          1  ...             1             1             0

[5 rows x 20 columns]

In [22]:
y=df_dummies['classLabel']
x= df_dummies.drop(columns='classLabel')

In [23]:


# implementing train-test-split
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,
test_size=0.3,
)
x_train.head()

      variable2  variable3  variable4  ...  variable12_t  variable19_0  variable19_1
2066      29.92   0.000183          1  ...             0             0             1
2157      16.08   0.000075          1  ...             1             0             1
3449      56.58   0.001850          1  ...             1             0             1
1869      18.08   0.000037          3  ...             1             0             1
3648      23.25   0.000400          1  ...             1             0             1

[5 rows x 19 columns]

In [24]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x_train = sc.fit_transform(x_train)
x_test=sc.transform(x_test)

In [25]:
print(y)
print(x_train.shape , y_train.shape)

0       0
1       0
2       0
3       0
4       0
       ..
3695    1
3696    1
3697    1
3698    1
3699    1
Name: classLabel, Length: 3700, dtype: int64
(2590, 19) (2590,)

### Applying Logistic Regression

In [26]:
from sklearn.linear_model import LogisticRegression
lr_clf = LogisticRegression(random_state = 0)
lr_clf.fit(x_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=0, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

### Logistic Regression performance on training and test data

In [27]:
print('Accuracy on training set:',lr_clf.score(x_train,y_train))
print('Accuracy on test set:',lr_clf.score(x_test,y_test))

Accuracy on training set: 1.0
Accuracy on test set: 1.0

### Applying decision tree

In [28]:
from sklearn.tree import DecisionTreeClassifier
dec_clf = DecisionTreeClassifier()
dec_clf.fit(x_train, y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [29]:
print('Accuracy on training set',dec_clf.score(x_train, y_train))

print('Accuracy on test set:',dec_clf.score(x_test, y_test))

Accuracy on training set 1.0
Accuracy on test set: 1.0

## using validation

In [33]:
dfvali=pd.read_csv('validation.csv',sep=';')
dfvali.head()

  variable1 variable2  variable3  ... variable18 variable19 classLabel
0         b     32,33    0,00075  ...        NaN          1        no.
1         b     23,58   0,000179  ...        NaN          0        no.
2         b     36,42    7,5e-05  ...        NaN          1        no.
3         b     18,42  0,0010415  ...        NaN          0        no.
4         b      24,5  0,0013335  ...          f          1        no.

[5 rows x 19 columns]

In [34]:
#df without variable18
dfvali=dfvali.drop(columns='variable18')
dfvali[['variable14','variable17','variable2','variable3','variable8','variable15']]=dfvali[['variable14','variable17','variable2','variable3','variable8','variable15']].fillna(dfvali[['variable14','variable17','variable2','variable3','variable8','variable15']].mean())

#filling the categorical values with the most frequent value 
dfvali = dfvali.fillna(dfvali.mode().iloc[0])

dfvali.isna().sum()

variable1     0
variable2     0
variable3     0
variable4     0
variable5     0
variable6     0
variable7     0
variable8     0
variable9     0
variable10    0
variable11    0
variable12    0
variable13    0
variable14    0
variable15    0
variable17    0
variable19    0
classLabel    0
dtype: int64

In [35]:
#now converting the categorical values to numbers 
df_dummiesVAl=pd.get_dummies(df,columns=['variable1','variable9','variable10','variable12','variable19'])

df_dummiesVAl['variable2']=pd.to_numeric(df['variable2'].str.replace(',', '.'), errors='coerce')
df_dummiesVAl['variable3']=pd.to_numeric(df['variable3'].str.replace(',', '.'), errors='coerce')
df_dummiesVAl['variable8']=pd.to_numeric(df['variable8'].str.replace(',', '.'), errors='coerce')

print(df_dummiesVAl['variable4'].unique())
print(df_dummiesVAl['variable5'].unique())
print(df_dummiesVAl['variable13'].unique())

df_dummiesVAl=df_dummiesVAl.drop(columns=['variable6','variable7','variable11'])
#X['Type of job'] = X['Type of job'].map( {'Super Skilled':3, 'Skilled':2, 'Unskilled':1})
df_dummiesVAl['variable4']=df_dummiesVAl['variable4'].map({'u':1,'y':2,'l':3})
df_dummiesVAl['variable5']=df_dummiesVAl['variable5'].map({'g':1,'p':2,'gg':3})
df_dummiesVAl['variable13']=df_dummiesVAl['variable13'].map({'g':1,'s':2,'p':3})

['u' 'y' 'l']
['g' 'p' 'gg']
['g' 's' 'p']

In [36]:
df_dummiesVAl['classLabel']=df_dummiesVAl['classLabel'].map({'no.':0,'yes.':1})

In [37]:
y=df_dummiesVAl['classLabel']
x= df_dummiesVAl.drop(columns='classLabel')

# implementing train-test-split
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,
test_size=0.3,
)
x_train.head()

      variable2  variable3  variable4  ...  variable12_t  variable19_0  variable19_1
614       65.17   0.001400          1  ...             1             0             1
1612      45.83   0.001050          1  ...             1             0             1
3461      18.08   0.000550          1  ...             0             0             1
2269      23.00   0.001175          1  ...             1             0             1
683       29.25   0.001479          1  ...             1             0             1

[5 rows x 19 columns]

### Applying Logistic Regression on Validation

In [38]:
from sklearn.linear_model import LogisticRegression
lr_clf = LogisticRegression(random_state = 0)
lr_clf.fit(x_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=0, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [39]:
print('Accuracy on training set:',lr_clf.score(x_train,y_train))
print('Accuracy on test set:',lr_clf.score(x_test,y_test))

Accuracy on training set: 0.9266409266409267
Accuracy on test set: 0.9225225225225225